{
"conId": "",
"gameId": "BingoMachine",
"hostname": "game-server.tech.spinmatic.net",
"port": "8700",
"protocol": "wss",
"mode": "fun",
"wallet": "seamless",
"platform": "",
"language": "en",
"location": "",
"languageUrl": "/game/getTranslation/",
"languageVer": "1.0",
"quickspin": true,
"settings": true,
"cashier": true,
"history": true,
"paytable": true,
"volume":true,
"helpUrl": "/Rules/",
"lobbyUrl": "",
"statistics": true,
"fullscreen": true
}