{
"conId": "",
"gameId": "BingoMachine",
"conUrl": "https://game.tech.spinmatic.net/con-api.php",
"gameCode": "1280",
"conUser": "asli",
"hostname": "api.testhub.spinmatic.net",
"port": "8700",
"protocol": "wss",
"mode": "fun",
"wallet": "seamless",
"platform": "",
"language": "en",
"location": "",
"languageUrl": "/game/getTranslation/",
"languageVer": "1.0",
"quickspin": true,
"settings": true,
"cashier": true,
"history": true,
"paytable": true,
"helpUrl": "/Rules/",
"lobbyUrl": "",
"statistics": true,
"fullscreen": true,
"debug": true
}